@charset "UTF-8";

html {
    font-family: "Jost", sans-serif;
    background-color: black;
    color: white;
}

body {
    margin: 0px;
    padding: 0px;
}

.gallery {
    padding: 50px;
    display: grid;
    grid-template-columns: auto auto;
}

.gallery h1 {
    border-left: solid 4px #FFD800;
    height: 40px;
    padding-left: 70px;
    padding-right: 70px;
    margin-bottom: 40px;
    font-size: 25px;
    margin-top: 50px;
    letter-spacing: 1.5px;
    font-weight: 600;
}

.gallery p {
    border-left: solid 4px #FFD800;
    padding-left: 10px;
    font-size: 15px;
}

.gallery img {
    width: 100%;
    width: 300px;
    padding-bottom: 0px;
    display: grid;
    object-fit: cover;
    padding-top: 20px;
    float: center;
    box-sizing: border-box;
    
}

/* media  queries */

/*S*/
@media screen and (max-width: 843px) {
    .gallery {
            padding: 40px;
        }
        
        .gallery img {
            width: 70%;
        }

        .gallery h1 {
            font-size: 12px;
            padding-left: 20px;
        }

        .gallery p {
            font-size: 10px;
        }
}

/*M*/
@media screen and (max-width: 843px) and (min-width: 575px) {
    
    .gallery {
        padding: 90px;
    }
    
    .gallery img {
        width: 70%;
    }

    .gallery h1 {
        font-size: 15px;
    }

    .gallery p {
        font-size: 12px;
    }
}