@charset "UTF-8";

@media screen and (max-width: 935px) and (min-width: 700px) {
    main, footer, header {
        display: grid;
        width: 80%;
        margin: auto;
    }
    
    .caption {
        padding-left: 100px;
    }

    .column1 main section, h4 {
        margin-top: 50px;
    }

    h1 {
        font-size: 18px;
        height: 40px;
        padding-right: 20px;
    }

}