@charset "UTF-8";

@media screen and (max-width: 845px) and (min-width: 600px) {
    main, footer, header {
        display: grid;
        width: 80%;
        margin: auto;
    }
    
    .caption {
        padding-left: 100px;
    }

    .column1 main section, h4 {
        margin-top: 50px;
    }

    h1 {
        font-size: 23px;
        height: 40px;
        padding-right: 20px;
    }

    .top a, .top h3 {
        font-size: 12px;
        padding-right: 0px;
        margin: 1.5px;
    }

}