@charset "UTF-8";

@media screen and (max-width: 845px) {
    main, footer, header {
        display: block;
        width: 65%;
        margin: auto;
        display: block;
    }
    
    .caption {
        padding: 0px;
    }

    .column1 main section, h4 {
        margin-top: 30px;
    }

    h1 {
        font-size: 18px;
        padding-left: 50px;
        padding-right: 0;
        height: 35px;
        margin-bottom: 90px;
    }

    .top a, .top h3 {
        font-size: 8px;
        padding-right: 0px;
        margin: 3px;
    }

}